# Data
data/
*.tar.gz
*.pt
*.png
!test_flux_2080_success.png

# Logs & Outputs
outputs/
**/logs/
*.out
*.err

# Python
__pycache__/
venv*/
.venv*/
.env

# Jupyter
.ipynb_checkpoints

# Mac 
.DS_Store

# Build artifacts
flowstitch.egg-info/
dist/
build/

*.aux
*.bbl
*.log
*.out
*.toc
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# IDE
.vscode/*
.gemini/*
